In [2]:
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
url = "https://grnhse-ghr-prod-s3.s3.amazonaws.com/generic_attachments/attachments/452/538/000/original/20240415_network_ds_data_challenge_%281%29.csv?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVQGOLGY3WW2MKRWA%2F20240920%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240920T201625Z&X-Amz-Expires=604800&X-Amz-SignedHeaders=host&X-Amz-Signature=5e33fcc57d11c75f19cf4400b34281606dfb3a04bbe36bc407df684897c554ee"

In [4]:
raw_df = pd.read_csv(url)
raw_df.to_csv('./data/raw.csv', index=False)

In [5]:
raw_df.head()

,country_of_destination,country_of_origin,hs6_code,receiver_address,receiver_id,receiver_name,sender_address,sender_id,sender_name,tier,transaction_date
0,CA,US,321410,"95 SUNRAY STREET, WHITBY, ON, L1N9C9, CANADA T...",4bd999c0cb4346ce047f99a692ec3191,Stonhard Ltd,"60 MARKET SAUQRE, BELIZE CITY, BELIZE",52c8642c34649eafe2d044eee3d884e1,Global Fire Protection,t1->t0,11/30/18
1,NaN,NaN,320890,China,8b1f537a8eeca839cff8a99e08b35690,CARBOLINE DALIAN PAINT COMPANY LTD,"Plot O 356 &357, Sidco Indl Estate Ambattur Ch...",831a31a1466f0ace3eb20b52d4575f92,Carboline (India) Private Limited,t1->t0,5/2/18
2,US,IN,390940,United States,1670c05b29762f5d4ab8980d267bd482,Rust-Oleum Llc,"204, Monarch Chambers, Marol Maroshi Road, Mum...",f580bc1756d06768c94634b0332e1871,Paladin Paints & Chemicals Private Limited,t1->t0,5/2/17
3,US,CN,731100,OF RPM WOOD FINISHES GROUP 3190 HICKORY BLVD H...,210f645e15d75833b25090f2ae509eda,Mohawk Finishing Products Inc,"YUNG-SHI BLVD, SHI-WAN TOWN, PO-LO COUNTY HUI-...",149081be00548b006dc38a88264eae32,Alpha Pacific Group Pte. Ltd.,t1->t0,5/8/16
4,CH,IN,250590,Switzerland,7150428f8927c86ac11c64c1bb9b0285,Vandex International AG,FLOWCRETE INDIA PRIVATE LIMITEDNEW NO.36 OLD N...,f4864ac3d5d716cc586d60afe8a403ef,TREMCO CPG INDIA PRIVATE LIMITED,t1->t0,5/26/17

# Data Cardinality

## A sender/receiver ID can have multiple names

### Sender

In [6]:
sender_id_name_counts = raw_df.groupby('sender_id')['sender_name'].nunique()
sender_id_name_counts[sender_id_name_counts > 1].sort_values(ascending=False).head(20)

sender_id
4686f367887e269869c7f84d6657e64b    4
3e7ad1e44d3ee989581a03439f86486f    3
012d5a42b50cf7c4bb7879717e13d7d9    3
40b6fcb4cf3b782f84ee78e760adac51    3
037ffb2771f46c287d58264a1f1ba751    3
03a92b8f823d42d8fa96d56c3b241fc5    3
aaaf00d3c34f0f90a92ecaef67ddbf3e    3
75d0b4464b91fea181d1e50e9821c6c2    3
734b24058f6220bd8fa7211bda40556b    2
708e4f6926d44d113f7fdf6084793e13    2
71f7312f4dcd74a215b018feffe8f267    2
72b1777036b54182209e4847c04bf18b    2
00737dc27cde70766a18e36f97349bd1    2
7569ea6962aaaa137e0e7b234597107c    2
66118d54272af7654f0e27c83b80b8bd    2
778415fbb8323ed6cbf839380fb94c01    2
77d27bd4e9325920c7406b2f2f5ec5a3    2
6b56ba33dd587206957ba9b57deb7e33    2
51fc4d81b55928413eed56d7e8dda6d1    2
5e273cadedfdf1e440bc0513eee223a4    2
Name: sender_name, dtype: int64

In [7]:
raw_df[raw_df.sender_id =='66118d54272af7654f0e27c83b80b8bd'][['sender_name', 'country_of_origin']].drop_duplicates()

                            sender_name country_of_origin
15502  Craig International Supplies Inc                US
84933  Craig International Supplies Ltd               NaN
97495  Craig International Supplies Ltd                GB

In [8]:
raw_df[raw_df.sender_id =='00737dc27cde70766a18e36f97349bd1'][['sender_name', 'country_of_origin']].drop_duplicates()

                                  sender_name country_of_origin
87750      LIAONING RUIXING CHEMICAL GROUP CO                CN
94103  LIAONING RUIXING CHEMICAL GROUP CO LTD                ES

In [9]:
raw_df[raw_df.sender_id =='012d5a42b50cf7c4bb7879717e13d7d9'][['sender_name']].drop_duplicates()

                     sender_name
26387         BASF HONG KONG LTD
48567  COVESTRO HON KONG LIMITED
83176          BASF HONGKONG LTD

In [10]:
raw_df[raw_df.sender_id =='4686f367887e269869c7f84d6657e64b'][['sender_name']].drop_duplicates()

                              sender_name
12444                Nuovo Pignone S.R.L.
48382                   Nuovo Pignone Srl
58467  Nuovo Pignone International S.R.L.
65528     Nuovo Pignone International Srl

### Receiver

In [11]:
receiver_id_name_counts = raw_df.groupby('receiver_id')['receiver_name'].nunique()
receiver_id_name_counts[receiver_id_name_counts > 1].sort_values(ascending=False)

receiver_id
ae3c9dcabb43810388500a0e10a31238    3
59b9fcc328c9c3edd4c7d29c21f1cf28    3
441590490eebf9dfa31cb9d09d4ab9fe    3
2266c3e2bbadf7f6c261e241bad21668    3
284a5fd16a48d5aa6708cdd85f0edbbb    2
876a2868015e8bbe390534775ffde023    2
831a31a1466f0ace3eb20b52d4575f92    2
6eeec4b8f6d2ddcfac4d0f6c13f60de9    2
4174ce1ae09c87cce8a4accaf940bc58    2
411db4d39f0b60286f2d52b7b7a74e65    2
2c398f54dacfc67b9fbe414565285dba    2
00750bb980757fd8535d73b90d6608c8    2
036f848b816eb83178ff1da4f6c1d8da    2
1e78ba569f5e3731ce8612a74bc13161    2
1d73f9dd5be62952c256d617d199aa24    2
175e59a0fd4b0dc53aab9170675fc2f7    2
15a31d29a9f62796c032e6d305d1517f    2
140c63ccedc8eac19c62398e6c1af6d0    2
12c27cfad46b6ca35a32a65e853c4fa3    2
0d8d03345335e05222e19fb123501ecb    2
03e5e2cba6fca4be37821ae593de0cca    2
24c3e29009a0784d1a9a2f49e8b5e326    2
Name: receiver_name, dtype: int64

In [12]:
raw_df[raw_df.receiver_id == '03e5e2cba6fca4be37821ae593de0cca'][['receiver_name', 'country_of_destination']].drop_duplicates()

        receiver_name country_of_destination
59    Ap Products Inc                     US
757  Dap Products Inc                     US

In [13]:
raw_df[raw_df.receiver_id == '59b9fcc328c9c3edd4c7d29c21f1cf28'][['receiver_name', 'country_of_destination']].drop_duplicates()

            receiver_name country_of_destination
45       ARNETTE POLYMERS                    NaN
800  Arnette Polymers Llc                     US
841      Arnette Polymers                    NaN

In [14]:
raw_df[raw_df.receiver_id == '24c3e29009a0784d1a9a2f49e8b5e326'][['receiver_name']].drop_duplicates()

                   receiver_name
62   Rpm Wood Finishes Group Inc
777    Rpm Wood Finishes Grp Inc

## A sender/receiver ID can have multiple addresses

### Sender

In [15]:
sender_id_address_counts = raw_df.groupby('sender_id')['sender_address'].nunique()
sender_id_address_counts[sender_id_address_counts > 1].sort_values(ascending=False)

sender_id
0542b8ce03e0b3f13e99e15f8800a526    9
00df81f1b6be3c2506cea2d32b6b8395    7
1bbb53eb7b3c8ba8f01219dd4425d466    7
1a82d62fad3c253213721ed8fb14a12c    7
026eb3b7e6eb6d6607f993b14c2039f1    6
                                   ..
2c404da2aebab5139444304457e1b7c7    2
2f37044762e808605701746918c0b89f    2
3132a94fcde165e0ac20a5347fb67bd8    2
320a024dd05114305160aa2d6097d1f4    2
f9cab9d183f418a2f6f518a501788eaa    2
Name: sender_address, Length: 232, dtype: int64

In [16]:
raw_df[raw_df.sender_id == '1bbb53eb7b3c8ba8f01219dd4425d466'][['sender_address']].drop_duplicates()

                                         sender_address
863   D-8, EVEREST BUILDING PT. M.M MALVIYA MARG,TAR...
871   D-8 EVEREST PANDIT. M.M. MALVIYA MARG S/N TARD...
1126  D-8, EVEREST BUILDING  PT. M.M.MALVIYA MARG,TA...
1306  D-08,Everest Building, 5th Floor, Mumbai, Maha...
1560  D-8, EVEREST BUILDING  PT. M.M.MALVIYA, TARDEO...
2197  D-8, EVEREST BUILDING  PT. M.M.MALVIYA, TARDEO...
3450  D-8 EVEREST BUILDING PT.  M.M.MALVIYA TARDEO M...

### Receiver

In [17]:
receiver_id_address_counts = raw_df.groupby('receiver_id')['receiver_address'].nunique()
receiver_id_address_counts[receiver_id_address_counts > 1].sort_values(ascending=False)

receiver_id
00750bb980757fd8535d73b90d6608c8    16
03e5e2cba6fca4be37821ae593de0cca    10
12c27cfad46b6ca35a32a65e853c4fa3     8
1d73f9dd5be62952c256d617d199aa24     8
036f848b816eb83178ff1da4f6c1d8da     7
441590490eebf9dfa31cb9d09d4ab9fe     6
2c398f54dacfc67b9fbe414565285dba     6
2266c3e2bbadf7f6c261e241bad21668     6
24c3e29009a0784d1a9a2f49e8b5e326     5
ae3c9dcabb43810388500a0e10a31238     5
175e59a0fd4b0dc53aab9170675fc2f7     5
0d47cd9e69a49f9664f8b8833e61f0d3     5
0d8d03345335e05222e19fb123501ecb     4
59b9fcc328c9c3edd4c7d29c21f1cf28     4
1e080d303f59fc3e597f0ad9fca66d14     4
5f7dd62d79e501286d9443ec8e38e315     3
140c63ccedc8eac19c62398e6c1af6d0     3
0c042795ce8f405a162853b5f1e428a1     3
0d20e0e35f1ed21914a0b6680816fc88     3
1958c8b4188e21c09878a858235c05e5     3
22eb72dc6dedc522d9d1e48f7711d689     2
284a5fd16a48d5aa6708cdd85f0edbbb     2
21e3ad6320ce473d88e4fcab02399a32     2
2fc4208e46b525d0b90e4662a7d7e2f4     2
36d6acce681cb79780c2ccefdb9b2466     2
411db4d39f0b60286f2d52b7b7a74e65     2
4174ce1ae09c87cce8a4accaf940bc58     2
04eefaf5f1f566b066ebc122a5ce473e     2
48541ba40bcab069aa5d91c12a5299d0     2
18761db1267ba45c55ee289afbf1d1a0     2
831a31a1466f0ace3eb20b52d4575f92     2
876a2868015e8bbe390534775ffde023     2
173e42cc56a9b936476ab4bea93a017d     2
e018853448f1d9ad279a2b478112020b     2
Name: receiver_address, dtype: int64

## A sender/receiver name can adress can have multiple addresses

### Sender

In [18]:
sender_name_address_counts = raw_df.groupby('sender_name')['sender_address'].nunique()
sender_name_address_counts[sender_name_address_counts > 1].sort_values(ascending=False)

sender_name
KISCO UK LTD                                      27
THOMAS KURZE GMBH                                 19
Avery Dennison Retail Information Services Llc    14
NUOVO PIGNONE SUCURSAL DEL PERU                   13
MUSTANG ENGINEERING LIMITED                       12
                                                  ..
Kaiser technology co.ltd                           2
Kaumagraph Ltd                                     2
Kisco (Uk) Limited                                 2
Kisco Co                                           2
yogesh dyestuff products                           2
Name: sender_address, Length: 401, dtype: int64

In [19]:
raw_df[raw_df.sender_name =='John H Carter Co Inc'][['sender_name', 'sender_address']].drop_duplicates()

                sender_name                                     sender_address
24668  John H Carter Co Inc  Po Box 4869, Houston, Harris County, Texas, 77...
28747  John H Carter Co Inc                                    UNKNOWN ADDRESS
29923  John H Carter Co Inc         US, C/O JOHN H. CARTER CO, MATAIRIE, 70002
60900  John H Carter Co Inc             С/O JOHN H. CARTER CO, METAIRIE, 70002
63320  John H Carter Co Inc           US, METAIRIE 70002, C/0 JOHN H.CARTER CO
77130  John H Carter Co Inc                                US, METAIRIE, 70002
81305  John H Carter Co Inc           US, C/O JOHN H.CARTER CO, METAIRIE,70002
93885  John H Carter Co Inc      METAIRIE, JOHN H.CARTER CO, 70002, КОНТРАГЕНТ

In [20]:
raw_df[raw_df.sender_name =='KISCO UK LTD'][['sender_name', 'sender_address']].drop_duplicates()

        sender_name sender_address
12286  KISCO UK LTD         Mexico
12919  KISCO UK LTD  Liechtenstein
13954  KISCO UK LTD        Finland
20986  KISCO UK LTD        Hungary
25006  KISCO UK LTD         Poland
25520  KISCO UK LTD        Austria
40897  KISCO UK LTD        Croatia
44945  KISCO UK LTD        Ireland
47492  KISCO UK LTD         Turkey
59377  KISCO UK LTD    Switzerland
61153  KISCO UK LTD    Netherlands
61627  KISCO UK LTD     Costa Rica
62896  KISCO UK LTD          China
63453  KISCO UK LTD       Slovenia
65256  KISCO UK LTD      Indonesia
68009  KISCO UK LTD         Brazil
69511  KISCO UK LTD         Sweden
71425  KISCO UK LTD        Romania
73167  KISCO UK LTD       Thailand
74633  KISCO UK LTD        Belgium
78168  KISCO UK LTD          Spain
80427  KISCO UK LTD        Czechia
82665  KISCO UK LTD          India
87854  KISCO UK LTD       Viet Nam
93344  KISCO UK LTD       Malaysia
95968  KISCO UK LTD        Denmark
96328  KISCO UK LTD          Italy

### Receiver

In [21]:
receiver_name_address_counts = raw_df.groupby('receiver_name')['receiver_address'].nunique()
receiver_name_address_counts[receiver_name_address_counts > 1].sort_values(ascending=False)

receiver_name
Day Glo Color Corp                      16
Dap Products Inc                        15
Fibergrate Composite Structures Inc     12
Rust-Oleum Corp                         11
Tremco Incorporated                      7
Carboline Company                        6
Euclid Ecuador S.A.                      6
Tremco Inc                               5
Schul International Co                   5
The Euclid Chemical COMPANY              4
Prime Resins Inc                         4
Rpm Wood Finishes Group Inc              4
EUCLID CHEMICAL DE CENTROAMERICA SA      4
Euclid Chemical Co                       4
Dri-Eaz Products Inc                     4
Stonhard Inc                             4
Rust Oleum                               3
Miracle Sealants Co                      3
RPM WOOD FINISHES                        3
Schul International Co Llc               3
Legend Brands                            3
Kirker Enterprises Inc                   3
Eucomex Sa De Cv                         3
Dri Eaz Products                         3
Stoncor South Cone Sa                    2
TREMCO INCORPORATED                      2
Stoncor Benelux B.V.                     2
Arnette Polymers Llc                     2
Legend Brands Inc                        2
Lg Electronics (Thailand) Co Ltd         2
Carboline (India) Private Limited        2
Grupo Stoncor Sa De Cv                   2
Flowcrete North America Inc              2
Corgrate Fiberglass Systems Sa De Cv     2
Chemspec Inc                             2
Tremco illbruck ooo                      2
Name: receiver_address, dtype: int64

In [22]:
raw_df[raw_df.receiver_name =='Day Glo Color Corp'][['receiver_name', 'receiver_address']].drop_duplicates()

          receiver_name                                   receiver_address
860  Day Glo Color Corp  4515 Saint Clair Ave, Cleveland, Cuyahoga Coun...
863  Day Glo Color Corp  4518 HAMILTON AVENUE CLEVELAND OHIO 44114 USA ...
866  Day Glo Color Corp  4518 HAMILTON AVE. CLEVELAND,TEL. NO. +1 216 3...
867  Day Glo Color Corp  . 4515 ST. CLAIR AVENUE CLEVELAND, OH 44103TEL...
868  Day Glo Color Corp  4581 HAMILTON AVENUE 001 216 3917070 CLEVELAND...
869  Day Glo Color Corp  4518 HAMILTON AVENUE  CLEVELAND            OH4...
870  Day Glo Color Corp                    4515 ST. CLAIR  AVENUE OH 44103
871  Day Glo Color Corp      4515 ST. CLAIR AVE  CLEVELAND CLEVELAND 44103
872  Day Glo Color Corp  4518 HAMILTONAVENUE 001 216 3917070 CLEVELAND ...
873  Day Glo Color Corp  4518 HAMILTON AVENUE T 001 216 3917070 CLEVELA...
874  Day Glo Color Corp  4518 HAMILTON AVENUE CLEVELAND OHIO 44114 USA ...
875  Day Glo Color Corp      4518 HAMILTON AVENUE    CLEVELAND OH 44114 US
876  Day Glo Color Corp  4515 ST. CLAIR AVENUE CLEVELAND, OH 44103 TEL ...
877  Day Glo Color Corp                                      United States
878  Day Glo Color Corp        4518 HAMILTON AVE.    CLEVELAND OH 44114 US
879  Day Glo Color Corp  4518 HAMILTON AVENUE CLEVELAND OHIO 44114 USA ...

In [23]:
raw_df[raw_df.receiver_id =='12c27cfad46b6ca35a32a65e853c4fa3'][['receiver_name', 'receiver_address']].drop_duplicates()

           receiver_name                                   receiver_address
770  TREMCO INCORPORATED               3735 GREEN RD  BEACHWOOD OH US 44122
771  TREMCO INCORPORATED  4475 E 175TH ST CLEVELAND OHIO   BEACHWOOD OH ...
779  Tremco Incorporated  4475 E 175TH ST CLEVELAND OHIO   BEACHWOOD OH ...
780  Tremco Incorporated  3735 GREEN ROAD  BEACHWOOD            OH44122 ...
781  Tremco Incorporated             3735 GREEN RD    BEACHWOOD OH 44122 US
782  Tremco Incorporated           3735 GREEN ROAD    BEACHWOOD OH 44122 US
783  Tremco Incorporated  MS. KERRI LAMPETER 4475 E175TH   ST.CLEVELAND ...
784  Tremco Incorporated                3735 GREEN  RD, BEACHWOOD, OH 44122
785  Tremco Incorporated  4475 E 175TH ST CLEVELAND OHIO 44128-3411 USA ...

In [24]:
raw_df[raw_df.receiver_id =='59b9fcc328c9c3edd4c7d29c21f1cf28'][['receiver_name', 'receiver_address']].drop_duplicates()

            receiver_name                                   receiver_address
45       ARNETTE POLYMERS               905 WOLLARD BLVD, RICHMOND, MO 64085
800  Arnette Polymers Llc            8905 WOLLARD BLVD RICHMOND, MO 64085 US
801  Arnette Polymers Llc  8905 Wollard Blvd, Richmond, Ray County, Misso...
841      Arnette Polymers  8905 WOLLARD BLVD RICHMOND, MO  640 85 TAX ID ...

## A sender/receiver address has unique country

In [25]:
sender_address_country_counts = raw_df.groupby('sender_address')['country_of_origin'].nunique()
sender_address_country_counts[sender_address_country_counts > 1].sort_values(ascending=False)

Series([], Name: country_of_origin, dtype: int64)

In [26]:
receiver_address_country_counts = raw_df.groupby('receiver_address')['country_of_destination'].nunique()
receiver_address_country_counts[receiver_address_country_counts > 1].sort_values(ascending=False)

Series([], Name: country_of_destination, dtype: int64)

## An organization can either be receiving or sending

In [27]:
common_organizations = set(raw_df['receiver_id']).intersection(set(raw_df['sender_id']))
len(common_organizations)

77

# Data models

In [28]:
class Organization:
    def __init__(self, _id):
        self._id = _id

In [29]:
class Branch:
    def __init__(self, _id, organization, name):
        self._id = _id
        self.organization = organization
        self.name = name

In [30]:
class Site:
    def __init__(self, _id, branch, address, country):
        self._id = _id
        self.branch = branch
        self.address = address
        self.country = country

In [31]:
class Transaction:
    def __init__(self, _id, sender: Site, receiver: Site, date, tier, hs6_code):
        self._id = _id
        self.sender = sender
        self.receiver = receiver
        self.date = date
        self.tier = tier
        self.hs6_code = hs6_code

In [32]:
raw_df[['receiver_id', 'sender_id', 'country_of_origin', 'country_of_destination']].drop_duplicates()

,receiver_id,sender_id,country_of_origin,country_of_destination
0,4bd999c0cb4346ce047f99a692ec3191,52c8642c34649eafe2d044eee3d884e1,US,CA
1,8b1f537a8eeca839cff8a99e08b35690,831a31a1466f0ace3eb20b52d4575f92,NaN,NaN
2,1670c05b29762f5d4ab8980d267bd482,f580bc1756d06768c94634b0332e1871,IN,US
3,210f645e15d75833b25090f2ae509eda,149081be00548b006dc38a88264eae32,CN,US
4,7150428f8927c86ac11c64c1bb9b0285,f4864ac3d5d716cc586d60afe8a403ef,IN,CH
...,...,...,...,...
99776,f4864ac3d5d716cc586d60afe8a403ef,c1e5ee9284c5200baa0189cfbb68e59d,US,IN
99781,ed46d890f9c84ab5a1c90e01a760cfdc,5ddc445a4c55779127f635e3f4376306,CZ,NaN
99793,05c5978192830a0cf35240396987cebd,6ff3ef782935c66f5a43d58bddfde892,HK,IN
99799,66ebf2a3aa71c90b4df3fc93590e22db,f8752a18d04d07f1504a93415bcead67,NaN,KZ
99866,66ebf2a3aa71c90b4df3fc93590e22db,25fe0d54401de2e86f6ebb4828648e0e,IT,KZ

In [163]:
raw_df.sender_id.nunique()

1969

In [38]:
raw_df.receiver_id.nunique()

180

In [44]:
raw_df.groupby('tier')['receiver_id'].nunique()

tier
t1->t0    120
t2->t1     61
Name: receiver_id, dtype: int64

In [47]:
in_both_tiers = raw_df.groupby('receiver_id')['tier'].nunique()
in_both_tiers[in_both_tiers>1].index.tolist()

['36d6acce681cb79780c2ccefdb9b2466']

In [48]:
raw_df[raw_df.receiver_id == '36d6acce681cb79780c2ccefdb9b2466']

,country_of_destination,country_of_origin,hs6_code,receiver_address,receiver_id,receiver_name,sender_address,sender_id,sender_name,tier,transaction_date
829,US,MX,253010,"2150 SCHUETZ ROAD ST LOUIS, MO ST LOUIS 63146",36d6acce681cb79780c2ccefdb9b2466,Carboline Company,LOS JUAREZ 26 SAN JOSE INSURGENTES SAGREDO Y F...,4bdea5a3d7e97a8efd8d586e7f682924,GST970206G13 GRUPO STONCOR SA DE CV,t1->t0,9/20/19
962,US,MX,253010,"2150 SCHUETZ ROAD ST LOUIS, MO ST LOUIS 63146",36d6acce681cb79780c2ccefdb9b2466,Carboline Company,LOS JUAREZ 26 SAN JOSE INSURGENTES SAGREDO Y F...,4bdea5a3d7e97a8efd8d586e7f682924,GST970206G13 GRUPO STONCOR SA DE CV,t1->t0,10/3/19
1081,US,MX,253010,"2150 SCHUETZ ROAD ST LOUIS, MO ST LOUIS 63146",36d6acce681cb79780c2ccefdb9b2466,Carboline Company,LOS JUAREZ 26 SAN JOSE INSURGENTES SAGREDO Y F...,4bdea5a3d7e97a8efd8d586e7f682924,GST970206G13 GRUPO STONCOR SA DE CV,t1->t0,9/23/19
1184,US,MX,382450,"2150 SCHUETZ ROAD ST LOUIS, MO ST LOUIS 63146",36d6acce681cb79780c2ccefdb9b2466,Carboline Company,LOS JUAREZ 26 SAN JOSE INSURGENTES SAGREDO Y F...,4bdea5a3d7e97a8efd8d586e7f682924,GST970206G13 GRUPO STONCOR SA DE CV,t1->t0,12/10/20
1278,US,MX,253010,"2150 SCHUETZ ROAD ST LOUIS, MO ST LOUIS 63146",36d6acce681cb79780c2ccefdb9b2466,Carboline Company,LOS JUAREZ 26 SAN JOSE INSURGENTES SAGREDO Y F...,4bdea5a3d7e97a8efd8d586e7f682924,GST970206G13 GRUPO STONCOR SA DE CV,t1->t0,10/9/19
1365,US,MX,253010,"2150 SCHUETZ ROAD ST LOUIS, MO ST LOUIS 63146",36d6acce681cb79780c2ccefdb9b2466,Carboline Company,LOS JUAREZ 26 SAN JOSE INSURGENTES SAGREDO Y F...,4bdea5a3d7e97a8efd8d586e7f682924,GST970206G13 GRUPO STONCOR SA DE CV,t1->t0,9/26/19
1448,US,MX,253010,"2150 SCHUETZ ROAD ST LOUIS, MO ST LOUIS 63146",36d6acce681cb79780c2ccefdb9b2466,Carboline Company,LOS JUAREZ 26 SAN JOSE INSURGENTES SAGREDO Y F...,4bdea5a3d7e97a8efd8d586e7f682924,GST970206G13 GRUPO STONCOR SA DE CV,t1->t0,10/1/19
1528,US,MX,253010,"2150 SCHUETZ ROAD ST LOUIS, MO ST LOUIS 63146",36d6acce681cb79780c2ccefdb9b2466,Carboline Company,LOS JUAREZ 26 SAN JOSE INSURGENTES SAGREDO Y F...,4bdea5a3d7e97a8efd8d586e7f682924,GST970206G13 GRUPO STONCOR SA DE CV,t1->t0,9/11/19
1605,US,MX,253010,"2150 SCHUETZ ROAD ST LOUIS, MO ST LOUIS 63146",36d6acce681cb79780c2ccefdb9b2466,Carboline Company,LOS JUAREZ 26 SAN JOSE INSURGENTES SAGREDO Y F...,4bdea5a3d7e97a8efd8d586e7f682924,GST970206G13 GRUPO STONCOR SA DE CV,t1->t0,9/30/19
1678,US,MX,253010,"2150 SCHUETZ ROAD ST LOUIS, MO ST LOUIS 63146",36d6acce681cb79780c2ccefdb9b2466,Carboline Company,LOS JUAREZ 26 SAN JOSE INSURGENTES SAGREDO Y F...,4bdea5a3d7e97a8efd8d586e7f682924,GST970206G13 GRUPO STONCOR SA DE CV,t1->t0,10/2/19
1744,US,MX,253010,"2150 SCHUETZ ROAD ST LOUIS, MO ST LOUIS 63146",36d6acce681cb79780c2ccefdb9b2466,Carboline Company,LOS JUAREZ 26 SAN JOSE INSURGENTES SAGREDO Y F...,4bdea5a3d7e97a8efd8d586e7f682924,GST970206G13 GRUPO STONCOR SA DE CV,t1->t0,9/9/19
1802,US,MX,253010,"2150 SCHUETZ ROAD ST LOUIS, MO ST LOUIS 63146",36d6acce681cb79780c2ccefdb9b2466,Carboline Company,LOS JUAREZ 26 SAN JOSE INSURGENTES SAGREDO Y F...,4bdea5a3d7e97a8efd8d586e7f682924,GST970206G13 GRUPO STONCOR SA DE CV,t1->t0,9/26/19
1856,US,MX,253010,"2150 SCHUETZ ROAD ST LOUIS, MO ST LOUIS 63146",36d6acce681cb79780c2ccefdb9b2466,Carboline Company,LOS JUAREZ 26 SAN JOSE INSURGENTES SAGREDO Y F...,4bdea5a3d7e97a8efd8d586e7f682924,GST970206G13 GRUPO STONCOR SA DE CV,t1->t0,10/9/19
1905,US,MX,381600,"2150 SCHUETZ ROAD ST LOUIS, MO ST LOUIS 63146",36d6acce681cb79780c2ccefdb9b2466,Carboline Company,"Lago Suiza #184, Ciudad de Mexico, Ciudad de M...",62268bfae5473ce97c69d030bf3fdee5,Aislantes Y Acusticos Sa De Cv,t1->t0,5/23/19
1953,US,MX,381600,"2150 SCHUETZ ROAD ST LOUIS, MO ST LOUIS 63146",36d6acce681cb79780c2ccefdb9b2466,Carboline Company,"Lago Suiza #184, Ciudad de Mexico, Ciudad de M...",62268bfae5473ce97c69d030bf3fdee5,Aislantes Y Acusticos Sa De Cv,t1->t0,2/8/19
2000,US,MX,381600,"2150 SCHUETZ ROAD ST LOUIS, MO ST LOUIS 63146",36d6acce681cb79780c2ccefdb9b2466,Carboline Company,"Lago Suiza #184, Ciudad de Mexico, Ciudad de M...",62268bfae5473ce97c69d030bf3fdee5,Aislantes Y Acusticos Sa De Cv,t1->t0,2/22/19
2046,US,MX,381600,"2150 SCHUETZ ROAD ST LOUIS, MO ST LOUIS 63146",36d6acce681cb79780c2ccefdb9b2466,Carboline Company,"Lago Suiza #184, Ciudad de Mexico, Ciudad de M...",62268bfae5473ce97c69d030bf3fdee5,Aislantes Y Acusticos Sa De Cv,t1->t0,1/25/19
2091,US,MX,390730,"2150 SCHUETZ ROAD ST LOUIS, MO ST LOUIS 63146",36d6acce681cb79780c2ccefdb9b2466,Carboline Company,LOS JUAREZ 26 SAN JOSE INSURGENTES SAGREDO Y F...,18761db1267ba45c55ee289afbf1d1a0,Grupo Stoncor Sa De Cv,t1->t0,4/21/21
2135,US,MX,320820,"2150 SCHUETZ ROAD ST LOUIS, MO ST LOUIS 63146",36d6acce681cb79780c2ccefdb9b2466,Carboline Company,LOS JUAREZ 26 SAN JOSE INSURGENTES SAGREDO Y F...,18761db1267ba45c55ee289afbf1d1a0,Grupo Stoncor Sa De Cv,t1->t0,4/21/21
2178,US,MX,381519,"2150 SCHUETZ ROAD ST LOUIS, MO ST LOUIS 63146",36d6acce681cb79780c2ccefdb9b2466,Carboline Company,LOS JUAREZ 26 SAN JOSE INSURGENTES SAGREDO Y F...,18761db1267ba45c55ee289afbf1d1a0,Grupo Stoncor Sa De Cv,t1->t0,4/21/21
2219,US,MX,320890,"2150 SCHUETZ ROAD ST LOUIS, MO ST LOUIS 63146",36d6acce681cb79780c2ccefdb9b2466,Carboline Company,LOS JUAREZ 26 SAN JOSE INSURGENTES SAGREDO Y F...,18761db1267ba45c55ee289afbf1d1a0,Grupo Stoncor Sa De Cv,t1->t0,4/21/21
2260,US,MX,382430,"2150 SCHUETZ ROAD ST LOUIS, MO ST LOUIS 63146",36d6acce681cb79780c2ccefdb9b2466,Carboline Company,LOS JUAREZ 26 SAN JOSE INSURGENTES SAGREDO Y F...,18761db1267ba45c55ee289afbf1d1a0,Grupo Stoncor Sa De Cv,t1->t0,4/21/21
2300,US,MX,391190,"2150 SCHUETZ ROAD ST LOUIS, MO ST LOUIS 63146",36d6acce681cb79780c2ccefdb9b2466,Carboline Company,LOS JUAREZ 26 SAN JOSE INSURGENTES SAGREDO Y F...,18761db1267ba45c55ee289afbf1d1a0,Grupo Stoncor Sa De Cv,t1->t0,4/21/21
27965,US,NO,902620,"2150 SCHUETZ ROAD ST. LOUIS,MO ST. LOUISMO 63146",36d6acce681cb79780c2ccefdb9b2466,Carboline Company,"Postboks 593, Lierstranda, 3412, Norway",ad4c82787160f622b91b48b277ae0a55,Carboline Norge As,t2->t1,8/9/19
27966,US,NO,870899,"2150 SCHUETZ ROAD ST. LOUIS,MO ST. LOUISMO 63146",36d6acce681cb79780c2ccefdb9b2466,Carboline Company,"Postboks 593, Lierstranda, 3412, Norway",ad4c82787160f622b91b48b277ae0a55,Carboline Norge As,t2->t1,8/9/19
27967,US,NO,320990,"2150 SCHUETZ ROAD ST. LOUIS,MO ST. LOUISMO 63146",36d6acce681cb79780c2ccefdb9b2466,Carboline Company,"Postboks 593, Lierstranda, 3412, Norway",ad4c82787160f622b91b48b277ae0a55,Carboline Norge As,t2->t1,8/9/19
27968,US,NO,392690,"2150 SCHUETZ ROAD ST. LOUIS,MO ST. LOUISMO 63146",36d6acce681cb79780c2ccefdb9b2466,Carboline Company,"Postboks 593, Lierstranda, 3412, Norway",ad4c82787160f622b91b48b277ae0a55,Carboline Norge As,t2->t1,8/9/19

In [40]:
raw_df[raw_df.tier == 't2->t1'].receiver_id.nunique()

61

In [39]:
raw_df[raw_df.tier == 't1->t0'].receiver_id.nunique()

120

In [36]:
raw_df[raw_df.tier == 't1->t0'].sender_id.nunique()

314

In [160]:
raw_df.tier.unique()

array(['t1->t0', 't2->t1'], dtype=object)

In [ ]:


raw_df.shape

raw_df.isna().sum()

dest_counts = raw_df['country_of_destination'].value_counts()

dest_counts.plot(kind='bar')
plt.title('Counts of Categories')
plt.xlabel('Category')
plt.ylabel('Counts')
plt.xticks(rotation=0)
plt.show()